1. What are data structures, and why are they important?
   - Data structure is a special format that contain data in a proper manner and can be used as per future needs.
   - They are important because It helps us to organise , and access data without any hassel.
   - It also help us to mutate the data as per need.

2. Explain the difference between mutable and immutable data types with examples?
    - Mutability is a property of data type where you can make amendments using special keywords.(List, sets, dictionaries)
    - Immutabilty is also a property that are usually associated with string and tuples, which means there is no option to make changes in these data type.

In [53]:
#example of immutability:
string= ("XYZ,  ABC")
string[0]= "PQR"

TypeError: 'str' object does not support item assignment

In [19]:
#example of mutability:
List1= [1,2,3, "brush", "assignment"]
List1[0]= "biscuit"
List1

['biscuit', 2, 3, 'brush', 'assignment']

3. What are the main differences between lists and tuples in Python?
    - Lists are organised , mutable data type which one can use to access data.
    - Tuples are organised, immutable data type which one can use but cannot make changes.

4. Describe how dictionaries store data?
    - Dictionaries always store data in the form of pair of key and value.
    - Values will be defined by the keys which will be allocated.
    - Dic_tion= {"key":"value", "key":"value"}

5. Why might you use a set instead of a list in Python?
    - I will use sets instead of list because a set will not contain any repeated values but in list there can be repeated values, which can make item alloment difficult.

6. What is a string in Python, and how is it different from a list?
    - String in python is data type which organise and store data to make a record. It is different from list because it is immutable and can never be changed once assigned but A list is mutable and can be use to modify the data provided.

7. How do tuples ensure data integrity in Python?
    - Tuple is a immutable and organised date structure which can be used for fixed date only. If anything is already assigned which means that nothing can be changed in tuple, which also helps in data integrity.
  
8. What is a hash table, and how does it relate to dictionaries in Python?
    - Don't know
  
9. Can lists contain different data types in Python?
    - Yes,list can contain different data type in python.

10. Explain why strings are immutable in Python?
    - strings are immutable because strings are oftenly used to store data which can be important and can strings provide data immutability that help the data not to be changed by anyone. So strings data can be shared to anywhere without any problem.

11. What advantages do dictionaries offer over lists for certain tasks?
    - Dictionaries provide flexibility in data handling over list, as it stored data in the key,value pair. Its easy to call and assign new data with respect to keys allocated.

12. Describe a scenario where using a tuple would be preferable over a list?
    - If a company wants to store data of their enployees:
    - employee id  or contact number.
    - In this case tuple would be preferable than list.
    - List can be altered where tuple cannot.
    - so data would be safe and nobody can make changes.
    
13. How do sets handle duplicate values in Python?
    - Sets used to consider duplicate as one, so all the duplicate elements will club together and consider as one. As we all know sets are unordered so there is no concept of indexing.
   
14. How does the “in” keyword work differently for lists and dictionaries?
    - "In" keyword is used in list is different as it can access data directly, but in dictionaries we have to define which data to access, either its keys or values.
   
15. Can you modify the elements of a tuple? Explain why or why not?
    - No, we cannot modify the element of tuple as tuple are immutable. So once value will be defined, it cannot be redefined.

16. What is a nested dictionary, and give an example of its use case?
    - Nested dictionary is a form of dictionary where one can store  multiple dictionary inside one.

      students = {
    "101": {"name": "Ishant", "age": 20, "grade": "A"},
    "102": {"name": "Aarav", "age": 22, "grade": "B"},
    "103": {"name": "Meera", "age": 21, "grade": "A+"}
}

17. Describe the time complexity of accessing elements in a dictionary?
    - Not covered yet.
   
18. In what situations are lists preferred over dictionaries?
    - List is preferred over dictionaries when there is need of indexing or quick accessing the data.
   
19. Why are dictionaries considered unordered, and how does that affect data retrieval?
    - As there is no concept of indexing, that is why dictionaries is considered unorganised and also data retrieval is difficult.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
    - A list is in the form of sequence but dictionaries is in the form of key, value pair.
    - a list can be accessed with the indexes but dictionaries can only be accessed with ".keys" or ".values".

PRACTICAL QUESTIONS

In [54]:
# 1. Write a code to create a string with your name and print it?
name= "XYZ"
print(name)

XYZ

In [55]:
#2. Write a code to find the length of the string "Hello World"?
A= "Hello World"
len(A)

11

In [3]:
#3. Write a code to slice the first 3 characters from the string "Python Programming". 
A= ("Python Programming")
first_three= A[0:3]
print(first_three)

Pyt

In [5]:
#4. Write a code to convert the string "hello" to uppercase. 
A= "hello"
A.upper()

'HELLO'

In [6]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple"?
s= ("I like apple")
s.replace("apple", "orange")

'I like orange'

In [10]:
#6. Write a code to create a list with numbers 1 to 5 and print it.
L1= [1,2,3,4,5]
print( "List :",L1)

List : [1, 2, 3, 4, 5]

In [12]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4]
List= [1,2,3,4]
List.append(10)
List

[1, 2, 3, 4, 10]

In [13]:
#8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
L2=[1,2,3,4,5]
L2.remove(3)
L2

[1, 2, 4, 5]

In [16]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
L3= ['a', 'b', 'c', 'd']
L3[1]

'b'

In [18]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].
L4= [10, 20, 30, 40, 50]
L4.reverse()
L4

[50, 40, 30, 20, 10]

In [20]:
#11.  Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple= (100,200,300)
print(my_tuple)

(100, 200, 300)

In [34]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
T2= ('red', 'green', 'blue', 'yellow')
T2[1:]

('green', 'blue', 'yellow')

In [42]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
T3= (10, 20, 5, 15)
min(T3)

5

In [43]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
T4= ('dog', 'cat', 'rabbit')
T4.index("cat")

1

In [52]:
#15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
T5= ("mango","banana","watermelon")
"Kiwi" in T5

False

In [56]:
#16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

s1= {"a","b","c"}
print(s1)

{'a', 'c', 'b'}

In [60]:
#17.  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s2= {1, 2, 3, 4, 5}
s2.clear()
s2

set()

In [65]:
#18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s3= {1, 2, 3, 4}
s3.remove(4)
s3

{1, 2, 3}

In [78]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
st1= {1, 2, 3}
st2= {3, 4, 5}
print("Union of both the sets:",st1 | st2)

Union of both the sets: {1, 2, 3, 4, 5}

In [79]:
#20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
set1= {1, 2, 3}
set2= {2, 3, 4}
print("intersection of both the sets :", set1 & set2)

intersection of both the sets : {2, 3}

In [83]:
#21.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
D1={"name":"" , "age":""  ,"city":"" }
print(D1)

{'name': '', 'age': '', 'city': ''}

In [96]:
#22.  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
D2=  {'name': 'John', 'age': 25}
D2["country"] = "USA"
D2

{'name': 'John', 'age': 25, 'country': 'USA'}

In [100]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
D3= {'name': 'Alice', 'age': 30}
D3["name"]

'Alice'

In [105]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
D4= {'name': 'Bob', 'age': 22, 'city': 'New York'}
D4.pop("age")
D4

{'name': 'Bob', 'city': 'New York'}

In [142]:
# 25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
D5 = {'name': 'Alice', 'city': 'Paris'}
D5.keys("city") in D5

TypeError: dict.keys() takes no arguments (1 given)

In [143]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list= [1,2,3,4]
my_tuple2=(1,2,3,4)
my_dict={"1":"yes", "2" :"No" ,"3": "Maybe","4" :"Not really"}
print(my_list)
print(my_tuple2)
print(my_dict)

[1, 2, 3, 4]
(1, 2, 3, 4)
{'1': 'yes', '2': 'No', '3': 'Maybe', '4': 'Not really'}

In [128]:
#27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
new_list= [4,69 ,97,33,10]
new_list.sort()
print(new_list)

[4, 10, 33, 69, 97]

In [130]:
#28.  Write a code to create a list with strings and print the element at the third index.
list_1= [(1,2,3), (4,5,6), (7,8,9), (10,11,12), (13,14,15)]
list_1[3]

(10, 11, 12)

In [146]:
#29.  Write a code to combine two dictionaries into one and print the result.
dict_1= {"1":"one", "2":"two"}
dict_2= {"3":"three", "4":"four"}
Dict_3= dict_1 | dict_2 
print(Dict_3)

{'1': 'one', '2': 'two', '3': 'three', '4': 'four'}

In [137]:
#30. Write a code to convert a list of strings into a set.
List= [(1,2),(3,4)]
st= set(List)
st

{(1, 2), (3, 4)}